# =========================
# ENV / SECRETS
# =========================
.env

# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.pyc
.runtime/

# =========================
# DATA (НЕ ЗАЛИВАЕМ БОЕВЫЕ ДАННЫЕ)
# =========================
data/input/*
data/output/*

# но оставляем примеры
!data/sample/
!data/sample/*.xlsx

# =========================
# ARCHIVE
# =========================
archive/

# =========================
# IDE
# =========================
.vscode/
.idea/